@charset "UTF-8";
/* 
===========
  main
=========== */
main {
  margin-top: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.75fr 1.5fr 0.75fr;
      grid-template-rows: 0.75fr 1.5fr 0.75fr;
      grid-template-areas: "ai" "centr" "human";
  height: 90vh;
}

.center_board {
  position: relative;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cn ct dr";
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: centr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_board .coin {
  position: absolute;
  bottom: 5%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cn;
  background-image: url("../../images/DIAMONDS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 100%;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: bottom 1s ease-out;
  transition: bottom 1s ease-out;
}

.center_board .center_card {
  margin-right: -50px;
  margin-block: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ct;
  justify-self: center;
  border: 2px dotted black;
  border-radius: 10px;
  width: 170px;
  height: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_board .draw_pile {
  margin-block: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: dr;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 8em;
}

.center_board .draw_pile img {
  width: 155px;
  height: auto;
}

/* asi to přesunu do normal css kvuli js změnám */
.center_card img {
  position: relative;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  float: left;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.player img {
  position: relative;
  margin-right: -50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  float: left;
}

.ai {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ai;
  border-bottom: 1px solid #268026;
}

.human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: human;
  border-top: 1px solid #268026;
}

img {
  width: 165px;
  height: auto;
}

img.drown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shakeAnim {
  -webkit-animation: shake 1s ease;
          animation: shake 1s ease;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  40% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  60% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  80% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  40% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  60% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  80% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
/*# sourceMappingURL=main.css.map */