@charset "UTF-8";
/* 
===========
  main
=========== */
main {
  margin-top: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
      grid-template-areas: "ai" "centr" "human";
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 80vh;
  z-index: 1;
}

.center_board {
  position: relative;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cn ct dr";
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: centr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_board .coin {
  position: absolute;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cn;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 100%;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.center_board .coin.top {
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

.center_board .coin.bottom {
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
}

.center_board .center_card {
  margin-right: -50px;
  margin-block: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ct;
  justify-self: center;
  border: 2px dotted black;
  border-radius: 10px;
  width: 170px;
  height: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_board .draw_pile {
  margin-block: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: dr;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 8em;
}

.center_board .draw_pile img {
  width: auto;
  height: 220px;
}

/* asi to přesunu do normal css kvuli js změnám */
.center_card img {
  position: relative;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  float: left;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.player img {
  position: relative;
  margin-right: -50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  float: left;
}

.ai {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ai;
  border-bottom: 1px solid #268026;
}

.human {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: human;
  border-top: 1px solid #268026;
}

img {
  width: auto;
  height: 240px;
}

img.drown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shakeAnim {
  -webkit-animation: shake 0.75s ease;
          animation: shake 0.75s ease;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  40% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  60% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  80% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  40% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  60% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  80% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

/* 
===========
  choose_color
=========== */
.choose_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.choose_color .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 3em;
  padding-inline: 3em;
  padding-block: 5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.choose_color .img-box img {
  max-width: 100px;
  height: auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.choose_color .img-box img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
/*# sourceMappingURL=main.css.map */