@import "./variables";

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_btn{
    position: relative;
    font-size: 1.5rem;
    padding-inline: 2em;
    padding-block: .5em;
    border-radius: 10px;
    background: none;
    color: $mainColor;
    border: 2px solid $mainColor;
    cursor: pointer;
    transition: color 0.5s ease;

    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $mainColor;
        width: 0;
        height: 102%;
        border-radius: 7px;
        transition: all 0.5s ease-out;
    }

    &:hover::after{
        width: 100%;
    }

    &:hover{
        color: white;
    }
}