@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import "./variables";

/* 
===========
  global
=========== */
body{
    background-color: whitesmoke;
    min-height: 100vh;
}
*, *::after, *::before{
    font-family: 'Blinker', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* 
===========
  navbar
=========== */ 
nav{
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(38, 128, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3em;
    height: max-content;

    .nav_title{
        font-size: 2.3rem;
        font-weight: 600;
        color: white;
        margin-block: .25em;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        column-gap: 3em;

        li a{
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;

            &::after{
                content: "";
                background-color: white;
                position: absolute;
                bottom: -2px;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: all 0.3s ease-out;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }
}

/* 
===========
  main
=========== */ 
main{
    margin-top: .5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1.5fr 0.75fr;
    grid-template-areas: 
    "ai"
    "centr"
    "human"
    ;
    height: 90vh;
}

.center_board{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". c d"
    ;
    height: 100%;
    grid-area: centr;
    align-items: center;

    .center_card{
        margin-block: 1em;
        grid-area: c;
        justify-self: center;
    }
    .draw_pile{
        margin-block: 1em;
        grid-area: d;
        justify-self: end;
        margin-right: 8em;
        img{
            width: 170px;
            height: auto;
        }
    }
}

/* asi to přesunu do normal css kvuli js změnám */
.player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.ai{
    grid-area: ai;
    border-bottom: 1px solid rgb(38, 128, 38);
}
.human{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: human;
    border-top: 1px solid rgb(38, 128, 38);

    img{
        position: relative;
        margin-right: -50px;
        transform: translateX(50px);
        transition: transform 0.75s ease;
        float: left;

        &.drown{
            transform: translateY(0);
        }
    }
}

img{
    width: 180px;
    height: auto;
}