@import "./variables";

main {
  @include flex-center;
  max-width: 50%;
  min-height: 80vh;
  margin: auto;
  margin-top: 7vh;
  flex-direction: column;

  .title {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 1em;
  }

  .vysvetlivka {
    margin-bottom: 2em;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.25em;
  }

  ul {
    @include flex-center;
    max-width: 85%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5em;
    list-style: decimal;

    li {
      padding-left: 1em;
      font-size: 1.25rem;
    }
  }
}
