@import "./variables";

main {
  @include flex-center;
  min-height: 80vh;
  flex-direction: column;

  .title {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  ul {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5em;
    list-style: decimal;

    li {
      padding-left: 1em;
      font-size: 1.25rem;
    }
  }
}
